<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  <body>
    <nav>
      <div><button>Pop</button></div>
      <div><button>Rap</button></div>
      <div><button>Rock</button></div>
      <div><button>Country</button></div>
      <div><button>Folk</button></div>
    </nav>
    <main>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>

      {{else}}
        <a href="/login">Login</a>
      {{/if}}
      {{{body}}}
    </main>
    <footer>
      Made by Kai Gerstley, Sage Grayson, Chris Insignares, Ami Asokumar, James
      Sgerella.
    </footer>
  </body>
</html>