<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="./">Note</a>
    <div class="d-flex">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="./home">Create Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="text-center" id="main">
  <div
    class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
  >
    <h1 class="fs-4">Connections Through Music</h1>
    <a
      class="btn btn-primary btn-lg"
      id="start-button"
      type="button"
      href="./login"
    >
      Start
    </a>
  </div>
</main>
<footer class="footer py-3 text-center" id="footer">
  <p>
    Ami Asokumar - Chris Insignares - James Sgerella - Kai Gerstley - Sage
    Grayson
  </p>
  <a id="footer" href="https://github.com/sagegrayson/Note">Github</a>
</footer>