/* *{
    border: 1px solid red;
} */

/* SAGE =================================================== */

:root {
  --light: #eeeeee;
  --dark: #333333;
  --navy: #326273;
  --blue: #5c9ead;
  --orange: #e39774;
  --red: #d1345b;
}

#nav {
  background-color: var(--dark);
}

#main {
  background-color: var(--light);
  color: var(--dark);
}

#start-button {
  background-color: var(--orange);
  border-color: var(--orange);
  color: var(--light);
}

#footer {
  background-color: var(--navy);
  color: var(--light);
}

/* KAI ==================================================== */
/* 
  I ALREADY
    Merged the CSS Files
    Changed the HREF in all template HTMLs / Correct Order
    Updated the CSS vars

  NEEDS TO
    stop adressing bootstrap class
    stop using important
    change classes to either custom classes or ids
    update his template to use the correct classes
*/

body {
  font-family: "Courier New", Courier, monospace;
  /* height: 100vh !important; */
}

#side_bar {
  background-color: var(--dark) !important;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  left: 0;
  /* height: 100vh; */
  width: 8vw;
  position: absolute;
}

.side_btn {
  text-align: center !important;
  position: relative;
  left: -10px;
  border-radius: 30px !important;
  height: 53px;
  width: 100%;
  margin: 5px;
  color: var(--dark) !important;
  background-color: var(--light) !important;
  border: 2px solid var(--blue) !important;
}

.side_btn:hover {
  box-shadow: 2px 1px 1px #929292;
  background-color: var(--orange);
}

#active_btn {
  text-align: center !important;
  left: -10px;
  border-radius: 30px !important;
  height: 53px;
  width: 100%;
  margin: 5px;
  color: var(--light) !important;
  background-color: var(--red) !important;
  border-color: var(--light) !important;
  border: 2px solid var(--light) !important;
}

.post_btn {
  text-align: center !important;
  position: relative;
  left: -10px;
  border-radius: 30px !important;
  height: 60px;
  width: 60px;
  margin: 5px;
  color: var(--dark) !important;
  background-color: var(--light) !important;
  border: 2px solid var(--blue) !important;
}

#plus_btn {
  font-size: 30px;
}

.btn_txt {
  text-align: center;
  font-size: 13px;
  position: relative;
  bottom: 0;
}

header {
  background-color: var(--dark) !important;
  color: var(--light) !important;
  display: flex;
  height: 60px;
  justify-content: center;
}

h1 {
  font-size: 30px;
  top: -12px;
}

.content {
  background-color: var(--navy) !important;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  /* top: -635px; */
  z-index: -1;
  height: 100vh;
  opacity: 0.8;
}

.reg_c_box {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  height: 40vh;
  width: 20vw;
}

.big_c_box {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  height: 60vh;
  width: 20vw;
}

.small_c_box {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  height: 20vh;
  width: 20vw;
}
.post_box {
  position: relative;
  bottom: 400px;
}

.post {
  margin: 10px;
  border-radius: 20px;
  height: 60px;
}
footer {
  background-color: white;
  position: absolute;
  bottom: 0;
}
