<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/style_index.css" />
    <title>Main</title>
  </head>
  <body>
    <header><h1>Note</h1></header>
    <nav id="side_bar">
      <div><button class="btn">Pop</button></div>
      <div><button class="btn">Rap</button></div>
      <div><button class="btn">Rock</button></div>
      <div><button class="btn">Country</button></div>
      <div><button class="btn">Folk</button></div>
      <div><button class="btn" id="plus_btn">+</button></div>
    </nav>
    <main>
      <div>
        <div>
          <div>content</div>
          <div>content</div>
          <div>content</div>
        </div>
        <input type="text" />
        <button>post</button>
      </div>
    </main>
    <footer>
      Made by Kai Gerstley, Sage Grayson, Chris Insignares, Ami Asokumar, James
      Sgerella.
    </footer>
  </body>
</html>
