body {
  font-family: "Courier New", Courier, monospace;
}

#side_bar {
  background-color: lightblue;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100vh;
  width: 10vw;
}
