:root {
  --Light: #eeeeee;
  --Dark: #333333;
  --Navy: #326273;
  --Blue: #5c9ead;
  --Orange: #e39774;
  --Red: #d1345b;
}

body {
  font-family: "Courier New", Courier, monospace;
  height: 100vh !important;
}

#side_bar {
  background-color: var(--Dark) !important;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100vh;
  width: 8vw;
}

.btn {
  text-align: center !important;
  position: relative;
  left: -10px;
  border-radius: 30px !important;
  height: 53px;
  width: 100%;
  margin: 5px;
  color: var(--Dark) !important;
  background-color: var(--Light) !important;
  border: 2px solid var(--Blue) !important;
}

.btn:hover {
  box-shadow: 2px 1px 1px #929292;
  background-color: var(--Orange);
}

#active_btn {
  text-align: center !important;
  left: -10px;
  border-radius: 30px !important;
  height: 53px;
  width: 100%;
  margin: 5px;
  color: var(--light) !important;
  background-color: var(--Red) !important;
  border-color: var(--Light) !important;
  border: 2px solid var(--Light) !important;
}

.post_btn {
  text-align: center !important;
  position: relative;
  left: -10px;
  border-radius: 30px !important;
  height: 60px;
  width: 60px;
  margin: 5px;
  color: var(--Dark) !important;
  background-color: var(--Light) !important;
  border: 2px solid var(--Blue) !important;
}

#plus_btn {
  font-size: 30px;
}

.btn_txt {
  text-align: center;
  font-size: 13px;
  position: relative;
  bottom: 0;
}

header {
  background-color: var(--Dark) !important;
  color: var(--Light) !important;
  display: flex;
  height: 60px;
  justify-content: center;
}

h1 {
  font-size: 30px;
  top: -12px;
}

.content {
  background-color: var(--Navy) !important;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: -635px;
  z-index: -1;
  height: 100vh;
  opacity: 0.8;
}

.reg_c_box {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  height: 40vh;
  width: 20vw;
}

.big_c_box {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  height: 60vh;
  width: 20vw;
}

.small_c_box {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  height: 20vh;
  width: 20vw;
}
.post_box {
  display: flex;
  position: relative;
  bottom: 800px;
  left: 50%;
}

.post {
  margin: 10px;
  border-radius: 20px;
  height: 60px;
}
footer {
  background-color: white;
  position: relative;
  bottom: 730px;
}
